<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>

    <event name="InfectedZmbPsycho_ev">
        <nominal>4</nominal>
        <min>4</min>
        <max>4</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>custom</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_alien1"/>
            <!-- <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_alien2"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_pig1"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_pig2"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_pig4"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_pig3"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_goblin1"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_goblin2"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_demons"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_ghoul"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_shape"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock1"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock1_Burn"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock1_v2"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock1_v2_Burn"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock2"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock2_Burn"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock2_v2"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock2_v2_Burn"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock3"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock3_Burn"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock3_v2"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock3_v2_Burn"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock5"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock5_Burn"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock5_v2"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_Stock5_v2_Burn"/> -->
        </children>
    </event>

    <event name="InfectedZmbPsycho_ev1">
        <nominal>4</nominal>
        <min>4</min>
        <max>4</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>custom</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_demons"/>
        </children>
    </event>

    <event name="InfectedZmbPsycho_ev2">
        <nominal>4</nominal>
        <min>4</min>
        <max>4</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>custom</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="1" type="ZmbPsycho_alien2"/>
        </children>
    </event>

</events>
